node_modules
vendor

revisions-extended/build

# Allow local overrides.
.wp-env.override.json
phpunit/phpunit.xml
phpcs.xml

# Configs from wporg-repo-tools.
.eslintrc.js
.prettierrc.js
.stylelintrc
phpcs.xml.dist
