.revisions-extended-dropdown-btn {
	display: flex;
	position: relative;
	background: #64afd5;
	border-radius: 0 2px 2px 0;
	margin-right: 8px;
}

.revisions-extended-dropdown-btn button {
	margin: 0 !important;
}

.editor-post-publish-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0 !important;
	border-right: 1px solid rgba( 255, 255, 255, 0.5 );
}

.revisions-extended-dropdown-btn .revisions-extended-dropdown-btn-toggle {
	border-radius: 0 2px 2px 0;
}

.revisions-extended-dropdown-btn .revisions-extended-dropdown-btn-toggle > button {
	border-radius: 0 2px 2px 0;
	border: 0;
	background: #007cba;
	color: #fff;
	margin-left: 1px !important;
}

.revisions-extended-dropdown-btn .revisions-extended-dropdown-btn-toggle svg {
	fill: #fff;
	height: 16px;
}

/* This extends the dropdown menu with to make it less cramped */
.revisions-extended-dropdown-btn .components-popover__content {
	min-width: 250px;
}